.imagiBG{
    background: url(../images/backgroundImage/backgroundImage.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;;

    /* Full height */
    /*height: 100%;

    /* Center and scale the image nicely */
    /*background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/

}

.community{
    background-color: #00aaab;
}

.project{
    background-color: #f26f5f;
}

.learn{
    background-color: #576bb3;
}

.connect{
    background-color: #f5b218;
}

.inUpShadow{
    background: linear-gradient(rgba(0,0,0,0.3), transparent);
    widht: 100%;
    height: 10vh;
}

.title{
    font-size: x-large;
    color: white;
    font-weight: bold;
}

.btnMain{
    width: 100%;
    color: white;
    font-weight: bold;
    padding: 4%;
    /*font-family: "AvenirNext-Bold";*/
}

.imagiFont{
    color: white;
    font-weight: bold;
    padding: 4%;
}

.bg {
    /* The image used */
    background-image: url("../images/backgroundImage/backgroundImage.png");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.scrollableCarousel {
  height:200px;
  overflow-y: scroll;
  font-size: 0.5em;
}

.cardCarousel {
    height: 200px;
    width: 266px;
}

.thumbnail {
    height: 30px;
    width: 30px;
    display: inline;
}

.post-owner {
    display: inline;
}

.date-time {
    font-size: 0.7em;
}

.card-title{
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 0px;
}

.carousel-item {
    margin-top: 0px;
    padding: 0px;
    border: 0px;
}

.card-text {
    margin-top: 10px;
    font-size: 0.9em;
}

.card {
    margin-top: 5px;
    margin-bottom: 10px;
}
.question-media {
    height: 100%;
    width: 100%;
}

.question-media-icon {
    font-size: 8em;
    margin-top: 10%;
}

#community-content {
    margin-top: 20%;
}

a {
    color: gray;
}

a:hover {
    color: gray;
}

