.imagiBG{
    background: url(../images/backgroundImage/backgroundImage.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;;

    /* Full height */
    /*height: 100%;

    /* Center and scale the image nicely */
    /*background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/

}

.community{
    background-color: #00aaab;
}

.project{
    background-color: #f26f5f;
}

.learn{
    background-color: #576bb3;
}

.connect{
    background-color: #f5b218;
}

.inUpShadow{
    background: linear-gradient(rgba(0,0,0,0.3), transparent);
    widht: 100%;
    height: 10vh;
}

.title{
    font-size: x-large;
    color: white;
    font-weight: bold;
    font-family: "Lato";
}

.btnMain{
    width: 100%;
    color: white;
    font-weight: bold;
    padding: 4%;
    font-family: "Lato";
}

.imagiFont{
    color: white;
    padding: 4%;
    font-family: "Lato";
}

.thumbImg{
    width:100%;
    height:20vh;
    object-fit: cover;
}

.bg {
    /* The image used */
    background-image: url("../images/backgroundImage/backgroundImage.png");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}