body{
    background: url(../images/backgroundImage/backgroundImage.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;;

    /* Full height */
    /*height: 100%;

    /* Center and scale the image nicely */
    /*background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/

}

.bg {
    /* The image used */
    background-image: url("../images/backgroundImage/backgroundImage.png");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}